.flag {
  height: 100px;
  width: 150px;
  border-radius: 10px;
}

.table_link {
  text-decoration: none;
  color: black;
}

.table_favicon {
  position: relative;
  left: 2px;
  top: 6px;
  cursor: pointer;
}
